@(message: String, txns: List[models.Transaction])


@main("test") {

	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
	<script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>


	<script>
    $(function() {
    	$("#reportsNav").removeClass("active");
    	$("#transactionsNav").addClass("active");
        $("#categoriesNav").removeClass("active");
    });

	$(document).ready(function(){
		$('#txnTable').DataTable();
	});
</script>


<table class="table" id="txnTable">
	<thead>
		<tr>
			<th>Note</th>
			<th>Memo</th>
			<th>Amount</th>
			<th>Category</th>
			<th>ID</th>
			<th>Source</th>
		</tr>
	</thead>
	@for(transaction <- txns) {
		<tr>
			<td>@transaction.note</td>
			<td>@transaction.memo</td>
			<td>@transaction.amount</td>
			<td>@transaction.category.categoryName</td>
			<td>@transaction.id</td>
			<td>@transaction.source</td>
		</tr>
	}
</table>

}